
@{
    ViewBag.Title = "Index";
}

<h2>Admin Homepage</h2>
<ul>
    <li>
        @Html.ActionLink("Courses", "CourseOverview", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
    <li>
        @Html.ActionLink("Add course", "AddCourse", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
    <li>
        @Html.ActionLink("Edit course", "EditCourse", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
    <li>
        @Html.ActionLink("Persons", "PersonOverview", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
    @*<li>
        @Html.ActionLink("Add Person", "AddPerson", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
    <li>
        @Html.ActionLink("Edit Person", "EditPerson", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>*@ 
    <li>
        @Html.ActionLink("User", "User", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
</ul>

