@model RipCore.Models.ViewModels.AdminIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Yfirlit</h1>
<br/ >
<div class="table-responsive col-md-6">
    <input type="text" id="searchpersons" placeholder="Skrifið til að leita">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-5">Heiti nemanda</th>
            </tr>
        </thead>
        <tbody id="persontable">

            @foreach (var item in Model.Persons)
            {



                <tr>
                    <td class="col-md-10">
                        @Html.ActionLink(item.Name, "EditPerson", new { id = item.ID })
                        @Html.ActionLink(" ", "DeletePerson", new { id = item.ID }, htmlAttributes: new { @class = "deleteButton pull-right", @role = "button" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.ActionLink("Bæta við notanda", "AddPerson", new { id = 0 }, htmlAttributes: new { @class = "btn btn-success pull-right", @role = "button" })

</div>


<div class="table-responsive col-md-6">
    <input type="text" placeholder="Skrifið til að leita" id="searchcourses">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-5">Heiti áfanga</th>
            </tr>
        </thead>
        <tbody id="coursetable">

            @foreach (var item in Model.Courses)
            {


                <tr>
                    <td class="col-md-10">
                        @Html.ActionLink(item.Name, "EditCourse", new { id = item.ID })
                        @Html.ActionLink(" ", "DeleteCourse", new { id = item.ID }, htmlAttributes: new { @class = "deleteButton pull-right", @role = "button" })
                    </td>
                </tr>

            }

        </tbody>
    </table>
    @Html.ActionLink("Bæta við áfanga", "AddCourse", new { id = 0 }, htmlAttributes: new { @class = "btn btn-success pull-right", @role = "button" })


</div>



    


    <script>
        var $rows = $('#coursetable tr');
        $('#searchcourses').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    </script>

    <script>
        var $personrows = $('#persontable tr');
        $('#searchpersons').keyup(function () {
            var value = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $personrows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(value);
            }).hide();
        });
    </script>

<script>
    $(".deleteButton").wrapInner("<span class='glyphicon glyphicon-trash' style='font-size:1.5em;'  />");
</script>



    @*http://stackoverflow.com/questions/9127498/how-to-perform-a-real-time-search-and-filter-on-a-html-table*@

