@model RipCore.Models.ViewModels.AdminIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="table-responsive col-md-6">
    <input type="text" id="searchpersons" placeholder="Skrifið til að leita">

    <table id="persontable" class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-5">Name</th>
            </tr>
        </thead>
        <tbody id="uppersearch">

            @foreach (var item in Model.Persons)
            {



                <tr>
                    <td class="col-md-10">
                        @Html.ActionLink(item.Name, "EditPerson", new { id = item.ID })
                        @Html.ActionLink("Delete Person", "DeletePerson", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @Html.ActionLink("New Person", "AddPerson", new { id = 0 }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })

</div>


<div class="table-responsive col-md-6"">
    <input type="text" id="searchcourses" placeholder="Skrifið til að leita">
    <table class="table table-striped" id="coursetable">
        <thead>
            <tr>
                <th class="col-md-5">Name</th>
            </tr>
        </thead>
        <tbody id="lowersearch">

            @foreach (var item in Model.Courses)
            {


                <tr>
                    <td class="col-md-10">
                        @Html.ActionLink(item.Name, "EditCourse", new { id = item.ID })
                        @Html.ActionLink("Delete Course", "DeleteCourse", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
                    </td>
                </tr>

            }

        </tbody>
    </table>
    @Html.ActionLink("New Course", "AddCourse", new { id = 0 }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
</div>



    


    <script>
        var $rows = $('#coursetable tr');
        $('#searchcourses').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    </script>

    <script>
        var $personrows = $('#persontable tr');
        $('#searchpersons').keyup(function () {
            var value = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $personrows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(value);
            }).hide();
        });
    </script>





    @*http://stackoverflow.com/questions/9127498/how-to-perform-a-real-time-search-and-filter-on-a-html-table*@

