@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("English", "Index", new { lang = "en" }, new { @class = "pull right" }) </li>
        <li>@Html.ActionLink("Íslenska", "Index", new { lang = "is" }) </li>
        <li>@Html.ActionLink(@Resources.Resources.Username + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resources.LogOut</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.Resources.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
