@model RipCore.Models.ViewModels.CourseViewModel
<h2>Hello @Model.UserName</h2>
<nav class="courses col-md-3">
    <h3>@Resources.Resources.StudentCourses</h3>
    @foreach (var item in Model.CoursesAsStudent)
    {
        <p>@Html.ActionLink(item.Name, "StudentOverview", new { id = item.ID })</p>
    }
    <h3>@Resources.Resources.TeacherCourses</h3>

    @foreach (var item in Model.CoursesAsTeacher)
    {
        <p>@Html.ActionLink(item.Name, "TeacherOverview", new { id = item.ID })</p>
    }
</nav>
<main class="table-responsive col-md-6">
    <h2 class="text-center">@Model.Name</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Resources.Resources.Teachers
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @Html.ActionLink("See Information", "PersonInfo", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Assignments</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Projoect
                </th>
                <th>
                    Due date
                </th>
                <th>
                    Weight
                </th>
                <th>
                    @if (Model.isTeacher == true)
                    {
                        <p>All Submissions</p>
                    }
                    @if (Model.isTeacher == false)
                    {
                        <p>Status</p>
                    }
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @if (Model.isTeacher == true)
                        {
                            <h4>@Html.ActionLink(item.Title, "TeacherAssignmentView", new { id = item.ID })</h4>
                        }
                        @if (Model.isTeacher == false)
                        {
                            <h4>@Html.ActionLink(item.Title, "StudentAssignmentView", new { id = item.ID })</h4>
                        }
                    </td>
                    <td>
                        @item.DueDate
                    </td>
                    <td>
                        @item.Weight
                    </td>
                    <td>
                        @if (Model.isTeacher == true)
                        {
                            <h4>@Html.ActionLink("See submissions", "AllSolutions", "Solution", new { id = item.ID }, null)</h4>
                        }
                        @if (Model.isTeacher == false)
                        {
                            <h4>@Html.ActionLink("See submissions", "AllSolutions", "Solution", new { id = item.ID }, null)</h4>
                        }
                    </td>
                    <td>
                        @if (Model.isTeacher == true)
                        {
                            <h4>@Html.ActionLink("Delete", "Delete", new { id = item.ID})</h4>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @if (Model.isTeacher == true)
    {
        @Html.ActionLink("New Project", "Create", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    }
</main>

    <div class="list-unstyled col-md-3">
        <h3>All Students</h3>
        <ul>
            @foreach (var item in Model.Students)
            {
                <li>
                    @item.FullName
                </li>
            }
        </ul>


    </div>

