@model RipCore.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "View";
}

<h2>@Model.Name</h2>
<h3>Assignemnts</h3>
<ul>
    @foreach (var item in Model.Assignments)
    {
        <li>
            <h1>@item.Title</h1>
            <p>@item.Weight</p>
        </li>
    }
</ul>
<h3>Courses as Student</h3>
<ul>
    @foreach (var item in Model.CoursesAsStudent)
    {
        <li>
            <h1>@item.Name</h1>
        </li>
    }
</ul>
<h3>Courses as Teacher</h3>
<ul>
    @foreach (var item in Model.CoursesAsTeacher)
    {
        <li>
            <h1>@item.Name</h1>
        </li>
    }
</ul>
<h3>All Students</h3>
<ul>
    @foreach (var item in Model.Students)
    {
        <li>
            <h1>@item.FullName</h1>
        </li>
    }
</ul>
<h3>All Teachers</h3>
<ul>
    @foreach (var item in Model.Teachers)
    {
        <li>
            <h1>@item.FullName</h1>
        </li>
    }
</ul>

