@model RipCore.Models.ViewModels.CourseViewModel
<h2>Hello @Model.UserName</h2>
<nav class="courses col-md-3">
    <h3>@Resources.Resources.StudentCourses</h3>
    <ul class="unorderedCourses">
        @foreach (var item in Model.CoursesAsStudent)
        {
            <li>
                @Html.ActionLink(item.Name, "StudentOverview", new { id = item.ID })
            </li>
        }
    </ul>
        <h3>@Resources.Resources.TeacherCourses</h3>
    <ul class="unorderedCourses">
        @foreach (var item in Model.CoursesAsTeacher)
        {
            <li>
                @Html.ActionLink(item.Name, "TeacherOverview", new { id = item.ID })
            </li>
        }
    </ul>

        
        
</nav>
<main class="table-responsive col-md-7">
    <h2 class="text-center">@Model.Name</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Resources.Resources.Teachers
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @Html.ActionLink(@Resources.Resources.seeInfo, "PersonInfo", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>@Resources.Resources.Assignments</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Resources.Resources.Project
                </th>
                <th>
                    @Resources.Resources.DueDate
                </th>
                <th>
                    @Resources.Resources.Weight
                </th>
                
                @if (Model.isTeacher == true)
                {
                    <th>@Resources.Resources.AllSubmissions</th>
                }
                @if (Model.isTeacher == false)
                {
                    <th>@Resources.Resources.Status</th>
                }
                <th>
                    @Resources.Resources.Grade
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @if (Model.isTeacher == true)
                        {
                            <h4>@Html.ActionLink(item.Title, "TeacherAssignmentView", new { id = item.ID })</h4>
                        }
                        @if (Model.isTeacher == false)
                        {
                            <h4>@Html.ActionLink(item.Title, "StudentAssignmentView", new { id = item.ID })</h4>
                        }
                    </td>
                    <td>
                        @item.DueDate
                    </td>
                    <td>
                        @item.Weight
                    </td>
                    <td>
                        @if (Model.isTeacher == true)
                        {
                            <h4>@Html.ActionLink(@Resources.Resources.SeeSubmissions, "AllSolutions", "Solution", new { id = item.ID }, null)</h4>
                        }
                        @if (Model.isTeacher == false)
                        {
                            <h4>@Html.ActionLink(@Resources.Resources.SeeSubmissions, "AllSolutions", "Solution", new { id = item.ID }, null)</h4>
                        }
                    </td>
                    <td>
                        @item.Grade
                    </td>
                    <td>
                        @if (Model.isTeacher == true)
                        {
                            <h4>@Html.ActionLink(@Resources.Resources.Delete, "Delete", new { id = item.ID})</h4>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @if (Model.isTeacher == true)
    {
        @Html.ActionLink(@Resources.Resources.newProject, "Create", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-success", @role = "button" })
    }
</main>

    <div class="list-unstyled col-md-2">
        <h3>@Resources.Resources.allStudents</h3>
        <ul>
            @foreach (var item in Model.Students)
            {
                <li>
                    @item.FullName
                </li>
            }
        </ul>


    </div>

