@model RipCore.Models.ViewModels.CourseViewModel
<h2>Hello @Model.UserName</h2>
<h2>@Model.Name</h2>
<nav class="courses">
    <h3>Courses as Student</h3>
    @foreach (var item in Model.CoursesAsStudent)
    {
        <p>@Html.ActionLink(item.Name, "StudentOverview", new { id = item.ID, userId = Model.UserID })</p>
    }
    <h3>Courses as Teacher</h3>

    @foreach (var item in Model.CoursesAsTeacher)
    {
        <p>@Html.ActionLink(item.Name, "TeacherOverview", new { id = item.ID, userID = 1 })</p>
    }
</nav>
<main class="courseInfo">
    <h3>Assignments</h3>
    @foreach (var item in Model.Assignments)
    {
        <div class="col-md-4">
            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            <p>
                @item.Description
            </p>
            @if (Model.isTeacher == true)
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            }
        </div>
    }
    
</main>
@if (Model.isTeacher == true)
{
    @Html.ActionLink("New Project", "Create", new { id = Model.ID })
}


    <div class="lists">
        <h3>All Students</h3>
        <ul>
            @foreach (var item in Model.Students)
            {
                <li>
                    @item.FullName
                </li>
            }
        </ul>
        <h3>All Teachers</h3>
        <ul>
            @foreach (var item in Model.Teachers)
            {
                <li>
                    @item.FullName
                </li>
            }
        </ul>
    </div>

