@model RipCore.Models.ViewModels.CourseOverViewModel
@{
    ViewBag.Title = "Index";
}
<h2>@Resources.Resources.Greeting @Model.Name</h2>
<nav class="courses col-md-3">
    <h3>@Resources.Resources.StudentCourses</h3>
    <ul class="unorderedCourses">
        @foreach (var item in Model.whereStudent)
        {
            <li>
                @Html.ActionLink(item.Name, "StudentOverview", new { id = item.ID })
            </li>
        }
    </ul>
    <h3>@Resources.Resources.TeacherCourses</h3>
    <ul class="unorderedCourses">
        @foreach (var item in Model.whereTeacher)
        {
            <li>
                @Html.ActionLink(item.Name, "TeacherOverview", new { id = item.ID })
            </li>
        }
    </ul>
</nav>
<main class="table-responsive col-md-9">
    <h3>@Resources.Resources.AssignmentsDue</h3>
    @foreach (var item in Model.assignments)
    {
        if (item.DueDate > DateTime.Now)
        {
            <p>@item.Title</p>
        }
    }
</main>
