@model RipCore.Models.ViewModels.CourseOverViewModel
@{
    ViewBag.Title = "Index";
}
<h2>@Resources.Resources.Greeting @Model.Name</h2>
<nav class="courses col-md-3">
    <h3>@Resources.Resources.StudentCourses</h3>
    <ul class="unorderedCourses">
        @foreach (var item in Model.whereStudent)
        {
            <li>
                @Html.ActionLink(item.Name, "StudentOverview", new { id = item.ID })
            </li>
        }
    </ul>
    <h3>@Resources.Resources.TeacherCourses</h3>
    <ul class="unorderedCourses">
        @foreach (var item in Model.whereTeacher)
        {
            <li>
                @Html.ActionLink(item.Name, "TeacherOverview", new { id = item.ID })
            </li>
        }
    </ul>
</nav>
<main class="table-responsive col-md-9">
        <h3>@Resources.Resources.AssignmentsDue</h3>
    <table class="table-striped">
        <thead>
            <tr>
                <th class="col-md-3">Námskeið</th>
                <th class="col-md-3">Verkefni</th>
                <th class="col-md-1">Vægi</th>
                <th class="col-md-3">Skiladagur</th>
                <th class="col-md-1">Skilað</th>
                <th class="col-md-1">Óskilað</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.assignments)
            {
                if (item.DueDate > DateTime.Now)
                {
                    <tr>
                        <td class="col-md-3">@item.CourseName</td>
                        @*<td>@item.Title</td>*@
                        @if (item.IsTeacher == true)
                        {
                            <td class="col-md-3">@Html.ActionLink(item.Title, "TeacherAssignmentView", new { id = item.ID })</td>
                        }
                        @if (item.IsTeacher == false)
                        {
                            <td class="col-md-3">@Html.ActionLink(item.Title, "StudentAssignmentView", new { id = item.ID })</td>
                        }
                        <td class="col-md-1">@item.Weight %</td>
                        <td class="col-md-3">@item.DueDate</td>
                        <td class="col-md-1 text-center">@item.NumberOfHandins</td>
                        <td class="col-md-1 text-center">@item.NumberOfNotHandedIn </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>
